:root{
    --principal:#D46F4D;
    --seconde:#fff;
    --troisieme:#0000;
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
}
#navigation{
   
    /* border: 1px solid black; */
}
.pagination{
    display: flex;
    justify-content: end;
    margin-top: 30px;
    
    /* background-color: var(--principal); */
}
#page-item ,#page-item1{
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    place-content: center !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.page-link{

}


#page-item a{
    color: black;
    width: 50px;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#page-item1 a{
    color: var(--seconde);
    background-color: var(--principal);
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#iconpagination{
    color: var(--principal) !important;
}