/* stylisation banniere */
:root{
    --principal:#D46F4D;
    --seconde:#fff;
    --troisieme:#0000;
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
    
}
/* Stylisation banniere  */
.bannaccueil{
    height: 641px !important;
    width: 100%;
    margin-top: 50px;

}
#btncarrousel{
  
  margin-top: 20px;
  background-color: transparent !important;
  border: 5px solid var(--principal);
  bottom: 160px; 
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom: 5px solid var(--seconde);
  padding: 10px 15px;

}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-300deg);
  }
}
.btncarrousel{
  text-decoration: none;
  color: var(--seconde);
  font-weight: bold;
 
}
.icon-diamond-home{
  color: var(--principal);
}
/* nos offres stylisation */
.Section_hand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 3em;
    background-color: #F8F9FA;
    gap: 20px;
  }
  #maincontenthome{
    background-color: #F8F9FA;

  }

  
  .Section_hand_Left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 600px;
  }
  
  .card-content-offre {
    background-color: white;
    padding: 0.6em;
    border-left: 4px solid var(--principal);
    width: 260px;
    height: 150px;
  }
  
  .Section_hand_Right {
    background-image: url("../../fichiers/offres.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    width: 500px;
    border-radius: 10px;
  }
  .title-content-home{
    /* background-color: var(--principal); */
    font-weight: bold;
    color: var(--principal);
    padding-left: 10px;
  }
  .underline-content{
    height: 5px;
    width: 100%;
    border-top: 2px solid var(--principal) !important;
  }

  .contentlinehome{
    display: flex;
    justify-content: center !important;
    width: 70px;
    gap: 5px;
    /* border: 1px solid red; */
  }
  #underline-content1{
    width: 30%;

  }
  #underline-content2{
    width: 70%;

  }
  .navlinkcontenthome{
    margin-left: 25px;
  }
  /* Stylisation objectifs */
  .cardobjecti1 h5{
    margin-left: 5px;
  }
  .cardobjecti1 p{
    margin-left: 5px;
  }
  .cardobjecti1{
    width: 100%;
    height: 300px;
    /* border: 1px solid #ccc; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom: 10px solid var(--principal);
    padding: 15px ;
  }
  .contenticonobjectif{
    margin-top: 10px;
    /* background-color: var(--principal); */
   
  }
  #content-icon-check{
    font-size: 60px !important;
    background-color: var(--principal);
    padding: 8px;
    border-radius: 50%;
    color: var(--seconde);
    width: 60px;
    height: 60px;
  }
  .contentobjectifshome{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    row-gap: 45px;
    width: 80%; 
    margin: 0 auto;
  }
  .maincontenthome{
    background-color: #f5f5f522;
  }
  /* Les témoignages stylisation */
  .cardtemoinhome{
    width: 100%;
    height: 355px;
    
  }
  #temoignages{
    margin-top: 5rem !important;
  }
  #contentunderline{
    margin-top: 5rem!important;
  }
  .cardtemoinhome1{
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -75px;
  }
  .cardtemoinhome1img{
    width: 50% !important;
    height: 90% !important;
    border-radius: 50%;
    border: 10px solid var(--seconde);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  .cardtemoinhome2{
    border: 1px solid #cccc;
    width: 100%;
    height: 65%;
    margin-top: 0;
    background-color: var(--principal);
    padding-bottom: 50px !important;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius:20px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  .cardtemoinhome2icon{
    width: 15px;
    height: 15px;
    margin-bottom: 0;
    /* margin-top: 75px; */
  }
  .title-temoinhome{
    margin-top: 80px;
  }
  .cardtemoinsociau{
    background-color: var(--seconde);
    margin-left: 5px;
    padding: 0 6px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    color: var(--principal);
    display: flex;
    justify-content: center;
    place-content: center;
    align-items: center;
    
  }
  .cardtitletemoin{
    text-align: center !important;
  }
  .paratextcontenthome{
    font-size: 12px;
    padding: 0 5px;
  }
  .contenttemoignagehome {
   
    display: grid;
    grid-template-columns: 28% 28% 28%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70%; 
    margin: 0 auto;
    
   
  }
  .contenthome1{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color:#F8F9FA;
    /* padding-bottom: 40px; */
    padding-top: 0.2rem !important;
    padding-bottom: 5rem !important;
    margin-top: 20px !important;
   

  }
  /* stylisation section impact */
  .linebeteween{
    height: 150px;
    width: 10px;
    border-right: 3px solid var(--seconde);
  }
  .contentimpact{
    background: url("../../fichiers/mpactban.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 58vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  .bannerimpact{
    background-color: var(--principal);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 58vh;
    opacity: 0.7;
    

  }
  .contentpartner{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  .contentimpactcolor{
    color: var(--seconde);
  }
  .contentparternerimg{
    width: 100px;
    height: 80px;
    margin-left: 10px;
  }
  .contentpatnermain{
    width: 100%;
    height: 60px;
    display: flex;

  }

  .card_partenaire {
    width: 300px;
    height: 170px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2em;
    /* border-radius: 20px; */
    margin-bottom: 20px;
  }
  
  .partenaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .Section_partenaire p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .card_partenaire img {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
  }
  .card-partenaire-img{
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
    border-radius: 5px;

  }
  .position-content-relative-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(700px + 100px); ;
    align-items: center;
    justify-content: center;
  }
  .text-relative-content{
    
   
  }
  .text-relative-content h5{
    font-size: 60px;
    color: var(--seconde);
    
  }
  .text-relative-content h6{
    font-size: 20px;
    color: var(--seconde);
    padding-left: 20px;
    
  }
  /* button watsapp */
  .whatsapp-button {
    position: fixed;
    bottom: 20px; 
    right: 20px;   
    background-color: #25D366;  
    color: #ffffff;          
    border: none;
    border-radius: 50%;
    /* padding: 25px; */
    cursor: pointer;
    font-size: 30px;
    padding: 10px 18px;
  }
  /* button watsapp */
  .whatsapp-button[data-tip]::after {
    background-color: #25D366;  /* Couleur de fond de l'infobulle */
  }



  /* Animation css */
  /* card nos offres */
  .card-content-offre:hover {
    cursor: pointer;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    scale: 1.3;
    
  }
  /* card objectifs */
  .cardobjecti1:hover{
    background-color: var(--principal);
    color: black;
    border-bottom: 10px solid var(--seconde);
    cursor: pointer;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    scale: 1;
    rotate: 360deg;
  }
   /* card temoignage */
  .cardtemoinhome:hover{
    cursor: pointer;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    scale: 1.2;
  }
  
  
 


  /* medias queris */
  @media  screen and (max-width:1485px) {
    .contentobjectifshome{
      display: grid;
      grid-template-columns: 40% 40%;
      justify-content: center;
      align-items: center;
      /* gap: 5px; */
      row-gap: 45px;
      width: 100%; 
      margin: 0 auto;
    }
   
  } 
  
  @media  screen and (max-width:1324px) {
    .contenttemoignagehome {
   
      display: grid;
      grid-template-columns: 30% 30% 30%;
      justify-content: center;
      align-items: center;
      gap: 20px;
      /* gap: 5px; */
      /* row-gap: 45px; */
      width: 100%; 
      margin: 0 auto;
      
     
    }

  }
  @media  screen and (max-width:1255px) {
    .contenttemoignagehome {
   
      display: grid;
      grid-template-columns: 30% 30%;
      justify-content: center;
      align-items: center;
      gap: 20px;
      /* row-gap: 45px; */
      /* width: 100%;  */
      margin: 0 auto;
      
     
    }

  }
  @media  screen and (max-width:840px) {
    .contenttemoignagehome {

      display: grid;
      grid-template-columns: 30% 30%;
      justify-content: center;
      align-items: center;
      gap: 40px;
      /* row-gap: 45px; */
      /* width: 100%;  */
      margin: 0 auto;
      
     
    }
    .contentobjectifshome{
      display: grid;
      grid-template-columns: 50%;
      justify-content: center;
      align-items: center;
      /* gap: 5px; */
      row-gap: 45px;
      width: 100%; 
      margin: 0 auto;
    }
    .bannerimpact{
      background-color: var(--principal);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 58vh;
      opacity: 0.7;
      
  
    }

  }
 
  
  @media screen  and (max-width: 769px){
    .contenttemoignagehome{
      gap: 70px
      ;
    }
  }
  /* @media screen  and (max-width: 719px){
    .text-relative-content{
      display: none;
  }
  #btncarrousel{
    position: relative;
    background-color: transparent !important;
    border: 5px solid var(--principal);
    top: -170px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom: 5px solid var(--seconde);
    padding: 10px 15px;
    
  
  }
  } */
  @media screen  and (max-width: 646px){
    .contenttemoignagehome{
        display: grid;
        grid-template-columns: 50%;
        justify-content: center;
        align-items: center;
      
      
      } 
  }
  @media screen  and (max-width: 619px){
    .contenttemoignagehome{
      
      display: grid;
      grid-template-columns: 50%;
      justify-content: center;
      align-items: center;
      gap: 0px;
     
    }
  }
  @media screen  and (max-width: 558px){
    .cardtemoinhome1img{
      height: 90% !important;
      width: 55% !important;
   
    
  }
  .text-relative-content h5{
    font-size: 30px;
    color: var(--seconde);
    
  }
  .text-relative-content h6{
    font-size: 15px;
    color: var(--seconde);
    padding-left: 20px;
    
  }
    
  }
 
  @media screen and (max-width: 479px) {
    .cardtemoinhome1img{
      height: 75% !important;
  }
  .bannaccueil{
    height: 560px !important;
    width: 100%;
    margin-top: 50px;

}
    
    
  }
  @media  screen and (max-width:475px){
    .bannerimpact{
      background-color: var(--principal);
      display: grid;
      grid-template-columns: 30% 30% ;
      gap: 20px;
      width: 100%;
      height: 58vh;
      opacity: 0.7;
      font-size: auto;
      
  
    }
    .linebeteween{
      display: none;
    }

  }
  @media screen  and (max-width: 440px){
    .contenttemoignagehome{
      display: grid;
      grid-template-columns: 50%;
      justify-content: center;
      align-items: center;
      gap: 0px;
    }
    .contentobjectifshome{
      display: grid;
      grid-template-columns: 50%;
      justify-content: center;
      align-items: center;
      /* gap: 5px; */
      row-gap: 45px;
      width: 100%; 
      margin: 0 auto;
    }
    .cardobjecti1{
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 30%;
      border-top-right-radius: 30%;
  }

}
  @media screen and (max-width: 359px) {
    .cardobjecti1{
      width: 100%;
      height: auto;
    }
    .cardobjecti1 h5{
     font-size: 12px;
    }
    .cardobjecti1 p{
      font-size: 10px;
    }
    .cardtemoinhome1img{
      /* height: 70% !important; */
      width: 70% !important;
   
    
  }
    
  }
  @media screen and (max-width: 350px) {
    .title-temoinhome{
      margin-top: 50px;
    }
    .cardtemoinhome1img{
      height: 70% !important;
      width: 70% !important;
   
    
  }
    
    
  }
  @media  screen and (max-width:335px){
    .bannerimpact{
      background-color: var(--principal);
      display: grid;
      grid-template-columns: 30% 30% ;
      gap: 20px;
      width: 100%;
      height: 58vh;
      opacity: 0.7;
      font-size: auto;
    }
    .contentimpact1 h1{
      font-size: 15px;
    }
    .contentimpact1 p{
      font-size: 10px;
    }
    .linebeteween{
      display: none;
    }

  }
  @media screen and (max-width: 280px) {
    .title-temoinhome{
      margin-top: 50px;
    }
    .cardtemoinhome1img{
      height: 70% !important;
      width: 80% !important;
  }
  .title-temoinhome{
    margin-top: 30px;
  }
    
    
  }