:root{
  --principal:#D46F4D;
  --seconde:#fff;
  --troisieme:#0000;
}  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none !important; 
}
body{
  text-decoration: none;
  list-style: none;
}



.contentOneSidebar{
  background-color: var(--seconde);
  height: 100vh;
  width: 100%;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.09);
  /* box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.09); */
}
#image-contenu{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 25px;
}

#contentlink{
  background-color: var(--principal);
  color: var(--seconde);
  padding: 5px 0;
}
.linkcontent{
  text-decoration: none;
  /* color: var(--troisieme); */
  color:black
}
#linktext{
  color: #fff;
}
.linktext{
  margin-left: 15px;
}
.logout {
  margin-top: 70px;
  background-color: var(--principal) !important;
  border: var(--principal) !important;
  color: #fff;
  padding: 5px 0;
  border-radius: 50px;
  width: 60px !important;
  height: 60px !important;
}
#logout{
  border-radius: 50% !important;
}
.logouticon{
  font-size: 30px;
}
